### 4. Polynomial Regression

In [2]:
# Load all Libraries/Datasets

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import math
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import random
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures

ds1 = pd.read_csv( "gt_2011.csv" )
ds2 = pd.read_csv( "gt_2012.csv" )
ds3 = pd.read_csv( "gt_2013.csv" )
ds4 = pd.read_csv( "gt_2014.csv" )
ds5 = pd.read_csv( "gt_2015.csv" )

# Concatenate all dataframes
frames = [ ds1, ds2, ds3, ds4, ds5 ]
merged_ds = pd.concat( frames )

# Saving merged ds into a separate .csv file for ease
pd.DataFrame.to_csv( merged_ds, "CombinedDataSet.csv", index=False )

# Split the data into training ( 80 % ) and test set ( 20 % )
x = merged_ds.iloc[ :, [ 0, 1, 2, 3, 4, 5, 6, 8 ] ].values
y = merged_ds.iloc[ :, [ 7, 9, 10 ] ].values

x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2 )
merged_ds.head( )

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028

In [ ]:
# 1. Using a polynomial regression, train a model based on F1 to F8 to predict the NOX
# emission for each following case and report the evaluation results (R2 and RMSE): (10
# points)

# 1. Use polynomial regression with the degree of 2 for training.
# 2. Use polynomial regression with the degree of 3 for training.
# 3. Use a polynomial regression with the degree of 5 for training